@import 'global';
em,strong{font-style: normal;font-weight: 100;}
.css-btn{
    display: block;
    height: 38px;
    color: #fff;
    line-height: 38px;
    background: #2a3451;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    &:hover{
        text-decoration: none;
        color: #fff;
    }
}
#ydBind {
    padding: 0 10px;
    header {
        text-align: center;
        padding: 25px 0;
        border-bottom: 1px solid #d9d9d9;
        img {
            width: 6.75em;
            height: 6.75em;
        }
        p {
            font-size: 16px;
            color: #2a3451;
            font-weight: bold;
            margin-top: 15px;
        }
    }
    .b-title {
        padding: 15px 10px;
        p {
            font-size: 14px;
            color: #101010;
        }
    }
    .b-form {
        padding: 0 10px 50px 10px;
        font-size: 14px;
        color: #101010;
        p {
            margin-top: 10px;
            span {
                vertical-align: middle;
                @include inline-block;
                width: 15%;
            }
            input {
                border-bottom: 1px solid #D9D9D9;
                padding: 3px 0 3px 5px;
                width: 64%;
            }
            .sp-ipt {
                width: 49%;
            }
            button {
                width: 80px;
                height: 25px;
                border: 1px solid #d9d9d9;
                border-radius: 5px;
                font-size: 13px;
                color: #525e71;
                margin-left: 5px;
            }
        }
    }
    .c-bind {
        width: 100%;
        height: 38px;
        border: 1px solid #bbb;
        background: #2a3451;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
    }
}

#bindFail {
    padding: 0 10px;
    header {
        padding: 25px 10px;
        p {
            font-size: 16px;
            color: #2a3451;
            font-weight: bold;
        }
    }
    button {
        width: 100%;
        height: 38px;
        border: 1px solid #bbb;
        background: #2a3451;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        margin-top: 20px;
    }
}

#bindSuccess {
    padding: 0 10px;
    header {
        text-align: center;
        padding: 40px 0 15px 0;
        img {
            width: 6em;
            height: 6em;
        }
        p {
            font-size: 16px;
            color: #2a3451;
            font-weight: bold;
            margin-top: 30px;
        }
    }
    button {
        width: 100%;
        height: 38px;
        border: 1px solid #bbb;
        background: #2a3451;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        margin-top: 20px;
    }
}

#myBusiness {
    padding: 0 10px;
    header {
        text-align: center;
        padding: 25px 0;
        border-bottom: 1px solid #d9d9d9;
        img {
            width: 6.75em;
            height: 6.75em;
        }
        p {
            font-size: 16px;
            color: #2a3451;
            font-weight: bold;
            margin-top: 15px;
        }
    }
    >section {
        font-size: 14px;
        color: #101010;
        padding: 15px 10px;
        .customer-kinds {
            margin-top: 10px;
            >p {
                margin-top: 5px;
                >a {
                    color: #5677fc;
                }
            }
        }
    }
}

#company-point{
    padding: 0 10px;
    header {
        border-bottom: 1px solid #d9d9d9;
        padding: 6px 0 4px 0;
        img {
            width: 2.7em;
            height: 2.7em;
            margin-right: 3px;
        }
        >span {
            font-size: 16px;
            color: #2a3451;
            font-weight: bold;
            vertical-align: middle;
        }
    }
    >section{
        padding: 15px 10px;
        >div{
           >p{
               font-size: 14px;
               color: #101010;
           }
           .now-point{
               color: #e51c23;
               margin-top: 5px;
           } 
        }
        .table{
            margin-top:15px;
            font-size: 13px;
            color: #666666;
            .tb-title{
                font-weight: bold;
                background: #eee;
                padding: 3px 5px;
                border: 1px solid #bbb;
            }
            .weui-flex{
                border-bottom: 1px solid #bbb;
                border-left: 1px solid #bbb;
                >div{
                    text-align: center;
                    padding: 3px 0;
                    border-right: 1px solid #bbb;
                }
            }
        }
    }
    >a{
        margin-top: 20px;
    }
}

#buy-points{
    padding: 0 10px;
    header {
        border-bottom: 1px solid #d9d9d9;
        padding: 6px 0 4px 0;
        img {
            width: 2.7em;
            height: 2.7em;
            margin-right: 3px;
        }
        >span {
            font-size: 16px;
            color: #2a3451;
            font-weight: bold;
            vertical-align: middle;
        }
    }
    .buy-select{
        padding: 0 10px 30px 10px;
        border-bottom: 1px solid #d9d9d9;
        >p{
           font-size: 14px;
           color: #101010;
           margin-top: 15px;
        }
        >div{
            div{
                height: 58px;
                line-height: 60px;
                font-size: 16px;
                color: #2a3451;
                text-align: center;
                border: 1px dashed #9a9a9a;
                margin-right: 10px;
            }
            .select-active{
                background: #ffa726;
                border: 1px solid #fb8c00;
            }
        }
    }
    .bill-info{
        padding: 5px 10px 0 10px;
        font-size: 14px;
        color: #101010;
        >span{
            @include inline-block;
            font-size: 13px;
            color: #ff5722;
        }
        >p{
            margin: 10px 0;
            >span{
                vertical-align: middle;
            }
            >img{
                width: 27px;
                height: 27px;
                margin-left: -4px;
            }
            >input{
                padding: 0 5px;
                width: 59%;
                height: 25px;
                border: 1px solid #bbb;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
        }
    }
    >a{
        margin-top: 10px;
    }
}

#customer-mana{
    padding: 0 10px;
    header {
        border-bottom: 1px solid #d9d9d9;
        padding: 6px 0 4px 0;
        >p{
            @include inline-block;
            width: 60%;
            img {
                width: 2.7em;
                height: 2.7em;
                margin-right: 3px;
            }
            >span {
                font-size: 16px;
                color: #2a3451;
                font-weight: bold;
                vertical-align: middle;
            }
        }
        >div{
            @include inline-block;
            width: 38.7%;
            text-align: right;
            .go-setting{
                width: 22px;
                height: 18px;
                margin: 0 15px;
            }
            >a{
                @include inline-block;
                .go-serch{
                    width: 23px;
                    height: 23px;
                    margin-top: 3px;
                }
            }
        }        
    }
    >section,>form{
        padding: 10px;
        position: relative;
        >table{
            width: 100%;
            border-top: 1px solid #bbb;
            border-left: 1px solid #bbb;
            text-align: center;
            tr{
                width: 100%;
                border-bottom: 1px solid #bbb;
                th{
                    background: #eee;
                }
                th,td{
                    width: 16%;
                    border-right: 1px solid #bbb;
                    height: 30px;
                    vertical-align: middle;
                    padding:0 5px;
                    word-wrap: break-word;
                    word-break: break-all;
                }
                .sp-title{
                    width: 50%;
                }
                .sp-text{
                    width: 50%;
                    text-align: left;
                }
            }
        }
        >div{
            display: none;
            padding: 0 10px;
            border: 1px solid #bbb;
            width: 135px;
            background: #fff;
            position: absolute;
            top: 10px;
            right: 10px;
            color: #000;
            >p{
                padding: 10px 0;
                border-bottom: 1px solid #bbb;
            }
            p:last-child{
                border: none;
            }
        }
        .order-list{
            tr{
                td,th{
                    width: 20%;
                }
                .sp-title{
                    width: 60%;
                }
                .sp-text{
                    width: 60%;
                    text-align: left;
                }
            }
        }
        .active-list{
            tr{
                .sp-title{
                    width: 80%;
                }
                .sp-text{
                    width: 80%;
                    text-align: left;
                }
            }
        }
        .activeDetails-list{
            tr{
                td{
                    width: 20%;
                    background: #eee;
                }
                .sp-text{
                    width: 80%;
                    background: #fff;
                    text-align: left;
                }
            }
        }
        .activeWrite-list{
            tr{
                td{
                    width: 20%;
                    background: #eee;
                }
                .sp-text{
                    width: 80%;
                    background: #fff;
                    text-align: left;
                    input,select{
                        color: #666;
                        height: 26px;
                        line-height: 24px;
                        border: 1px solid #bbb;
                        border-radius: 5px;
                    }
                    em{
                        vertical-align: middle;
                    }
                    .aw-title{
                        width: 90%;
                        padding: 0 5px;
                    }
                    .aw-se{
                        width: 80px;
                    }
                    .aw-ip{
                        width: 68px;
                        padding: 0 5px;
                    }
                    .aw-date{
                        width: 85px;
                        padding: 0 5px;
                        text-align: center;
                    }
                    input[type="file"]{
                        width: 100%;
                        height: auto;
                        border: none;
                    }
                }
            }
        }
        .applicant-list{
            tr{
                th:first-child,td:first-child{
                    width: 10%;
                }
                th:nth-child(2),td:nth-child(2){
                    width: 10%;
                }
                th:nth-child(3),td:nth-child(3){
                    width: 25%;
                }
                th:last-child,td:last-child{
                    width: 20%;
                }
            }
        }
    }
    >a{
        margin-bottom: 10px;
    }
}

#customer-details{
    padding: 0 10px;
    header {
        border-bottom: 1px solid #d9d9d9;
        padding: 6px 0 4px 0;
        >p{
            @include inline-block;
            width: 60%;
            img {
                width: 2.7em;
                height: 2.7em;
                margin-right: 3px;
            }
            >span {
                font-size: 16px;
                color: #2a3451;
                font-weight: bold;
                vertical-align: middle;
            }
        }
    }
    >section,>form{
        padding: 10px;
        >table{
            width: 100%;
            border-top: 1px solid #bbb;
            border-left: 1px solid #bbb;
            text-align: center;
            tr{
                width: 100%;
                border-bottom: 1px solid #bbb;
                th{
                    background: #eee;
                    text-align: left;
                    height: 30px;
                    vertical-align: middle;
                    border-right: 1px solid #bbb;
                    padding:0 5px;
                }
                td{
                    border-right: 1px solid #bbb;
                    height: 30px;
                    vertical-align: middle;
                    word-wrap: break-word;
                    word-break: break-all;
                    input,select{
                        width: 95%;
                        border: 1px solid #ebebeb;
                        border-radius: 2px;
                        height: 24px;
                        line-height: 28px;
                        color: #666;
                    }
                    input{
                        text-align: center;
                    }
                    select{
                        border-radius: 6px;
                        padding-left: 3px;
                    }
                }
                td:first-child{
                    width: 30%;
                }
                td:last-child{
                    width: 60%;
                }
                .phone-sp{
                    img{
                        width: 17px;
                        height: 16px;
                        margin-left: 5px;
                    }
                    span{
                        vertical-align: middle;
                    }
                }
                .un_write{
                    color: #ff6200;
                }
            }
        }
    }
    >a{
        margin-bottom: 10px;
    }
}

#customer-search{
    padding: 0 10px;
    header {
        border-bottom: 1px solid #d9d9d9;
        padding: 6px 0 4px 0;
        >p{
            @include inline-block;
            width: 60%;
            img {
                width: 2.7em;
                height: 2.7em;
                margin-right: 3px;
            }
            >span {
                font-size: 16px;
                color: #2a3451;
                font-weight: bold;
                vertical-align: middle;
            }
        }
    }
    >section{
        padding: 10px;
        font-size: 14px;
        >p{
            color: #ff5722;
            margin-bottom: 15px;    
        }
        >div{
            margin-top: 10px;
            >span{
                @include inline-block;
                width: 50px;
                vertical-align: middle;
                color: #101010;
            }
            input{
                border-bottom: 1px solid #bbb;
                padding: 1px 8px;
                width: 60%;
            }
        }
    }
    >a{
        margin-top: 25px;
    }
}

#active-article{
    padding: 0 10px;
    header{
        p{
            font-size: 16px;
            color: #2a3451;
            font-weight: bold;
            padding: 12px 3px;
            border-bottom: 1px solid #d9d9d9;
        }
    }
    section{
        padding: 3px 3px 10px 3px;
        font-size: 14px;
        color: #101010;
        p{
            margin: 10px 0;
        }
        img{
            width: 100%;
        }
    }
}

#active-img{
    background: #000;
    display: table;
    width: 100%;
    >p{
        display: table-cell;
        vertical-align: middle;
        img{
            width: 100%;
        }
    }
}

.weui-picker-calendar{
    height: 15.3rem;
}
.picker-calendar-week-days{
    height:1.2rem;
}


#maintenance-service{
    padding: 0 10px;
    header {
        padding: 6px  0;
        >p{
            @include inline-block;
            width: 60%;
            >span {
                font-size: 16px;
                color: #2a3451;
                font-weight: bold;
                vertical-align: middle;
            }
        }
    }
    .maint-box {
        margin-top: 10px;
        >p {
            margin-top: 10px;
            font-size: 14px;
            color: #101010;
            span{
                @include inline-block;
                width: 110px;
            }
            input{
                width: 50%;//164
                height: 26px;//30
                line-height: 26px;
                border: 1px solid #DCDCDC;
                padding-left: 4px;
            }

        }
    }
    .css-btn{
        margin: 0 auto;
        margin-top: 40px;
        width: 80px;//80px
        height: 30px;
        line-height: 30px;
    }
}



